.header {
    
    .head {
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
        
        .header__left{
            display: flex;
            align-items: center;
            
            .header__logo {
                display: flex;
                justify-content: center;
                align-items: center;
                background: $green;
                width: 28px;
                height: 28px;
                @include border-radius(50%);
                
            }
        
            .txt__logo {
                padding-left: 5px;
                text-transform: uppercase;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
            }
        }
        
        .header__right {
            display: flex;
            width: 470px;
            
            .nav {
                
                .link {
                    font-family: 'Montserrat', sans-serif;
                    
                    text-decoration: none;
                    text-transform: uppercase;
                    
                    color: black;
                    opacity: .7;
                    transition: opacity .1s linear;
                    
                    padding-right: 35px;
                    
                    &:last-child {
                        padding-right: 0;
                    }
                    
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

